@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://fonts.googleapis.com/css?family=Sofia');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* ASSIGNMENT */

.didDLetter, .frontendOLetter, .developerOLetter, .gardeningGTwoLetter, .becauseBLetter, .wantedTLetter, .improveELetter, .skillsLTwoLetter, .hyphen {
  font-size: 65px;
  color: rgb(0, 255, 255);
  font-weight: bold;
  text-decoration: none;
  font-family: Audiowide, sans-serif;
  text-transform: none;
  background-color: #3b2e66;
}

.didILetter, .frontendNTwoLetter, .developerDLetter, .takeTLetter, .gardeningILetter, .becauseULetter,  .wantedALetter, .skillsSLetter {
  font-size: 60px;
  color: #8A2BE2;
  font-weight: normal;
  text-decoration: line-through;
  font-family: Courier, monospace;
  text-transform: lowercase;
  background-color: #17bf08;
}

.didDTwoLetter, .theHLetter, .frontendELetter, .developerEThreeLetter, .takeELetter, .gardeningDLetter, .theyHLetter, .improveMLetter, .skillsLLetter {
  font-size: 55px;
  color: rgb(123, 104, 238);
  font-weight: 400;
  text-decoration: overline;
  font-family: "Piazzolla", sans-serif;
  text-transform: uppercase;
  background-color: #20b1f5;
}

.theTLetter, .frontendNLetter,  .developerRLetter, .gardeningALetter, .becauseELetter{
  font-size: 50px;
  color: #0000CD;
  font-weight: 700;
  text-decoration: underline;
  font-family: Georgia, serif;
  text-transform: none;
  background-color: rgb(127, 255, 0);
}


.theELetter, .frontendDLetter, .developerETwoLetter,  .gardeningRLetter, .improveILetter, .theirELetter {
  font-size: 45px;
  color: #C71585;
  font-weight: 800;
  text-decoration: line-through;
  font-family: "Trirong", serif;
  text-transform: uppercase;
  background-color: #bf7008;
}

.frontendFLetter, .developerVLetter, .takeKLetter, .gardeningNLetter,  .becauseALetter, .wantedNLetter, .improveRLetter, .rootOTwoLetter, .skillsSTwoLetter {
  font-size: 40px;
  color: #0f0f0f;
  font-weight: 500;
  text-decoration: overline;
  font-family: 'Ceviche One', sans-serif;
  text-transform: lowercase;
  background-color: #89e643;
}

.frontendRLetter, .developerELetter,  .upPLetter, .gardeningGLetter, .theyELetter, .improveOLetter, .theirHLetter, .rootOLetter, .exclamation-mark {
  font-size: 35px;
  color: #FFD700;
  font-weight: 300;
  text-decoration: none;
  font-family: Gill Sans, sans-serif;
  text-transform: none;
  background-color: #0000CD;
}

.frontendTLetter, .developerPLetter,  .gardeningELetter, .becauseSLetter, .wantedWLetter, .theirTLetter,  .skillsILetter, .question-mark {
  font-size: 30px;
  color: #FFA07A;
  font-weight: bold;
  text-decoration: none;
  font-family: "Sofia", sans-serif;
  text-transform: uppercase;
  background-color: #8A2BE2;
}

.developerLLetter, .becauseETwoLetter, .theyTLetter, .wantedELetter,  .toTLetter, .theirILetter, .rootTLetter {
  font-size: 25px;
  color: #7FFFD4;
  font-weight: bolder;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  text-transform: lowercase;
  background-color: #0870bf;
}

.takeALetter, .upULetter, .wantedDLetter, .improveVLetter,  .gardeningNTwoLetter, .becauseCLetter {
  font-size: 20px;
  color: rgb(127, 255, 0);
  font-weight: lighter;
  text-decoration: none;
  font-family: 'Raleway Dots', sans-serif;
  text-transform: uppercase;
  background-color: #a108bf;
}

.theyYLetter, .toOLetter,  .improvePLetter, .theirRLetter, .rootRLetter, .skillsKLetter {
  font-size: 15px;
  color: rgb(255, 20, 147);
  font-weight: 900;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  text-transform: lowercase;
  background-color: rgb(125, 76, 24);;
}

